<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_计算属性简写</title>
    <!-- 引入Vue，将有一个全局的 Vue 构造函数 -->
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 准备一个容器 -->
    <div id='root'>
        姓：<input type="text" v-model="firstName"><br><br>
        名：<input type="text" v-model="lastName"><br><br>
        全名：<span>{{fullName}}</span>
    </div>
    <script>
        Vue.config.productionTip = false;   // 阻止 Vue 在启动时生成生产提示

        const vm = new Vue({
            el:'#root',   
            data:{        
                firstName:'张',
                lastName:'三'
            },
            // computed 不支持异步
            computed: {
                // 完整写法
                /* 
                fullName:{
                    get(){
                        return this.firstName + '-' + this.lastName
                    },
                    set(value){
                        const arr = value.split('-')
                        this.firstName = arr[0]
                        this.lastName = arr[1]
                    }
                }*/

                // 简写（前提是不使用set，只用get）
                fullName(){
                    return this.firstName + '-' + this.lastName
                }
            },
        })
    </script>
</body>
</html>